<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film</title>
    <link rel="stylesheet" href="/css/film.css">
</head>
<body>
</body>
<body>
    <ul>
        <li><a class="active" href="/film">Film</a></li>
        <li><a href="/showtime">Showtime</a></li>
    </ul>
    <button class="open-button" onclick="openAddForm()">Add</button>
    <div class="form-popup" id="addForm">
        <form action="/film/post" method="post">
            <label for="title">title:</label>
            <input type="text" name="title" id="title" ><br>
            <label for="description">description:</label>
            <input type="text" name="description" id="description" ><br>
            <label for="release_date">release date:</label>
            <input type="date" name="release_date" id="release_date" ><br>
            <label for="language_id">language id:</label>
            <input type="number" name="language_id" id="language_id" ><br>
            <label for="director">director:</label>
            <input type="text" name="director" id="director" ><br>
            <label for="actor">actor:</label>
            <input type="text" name="actor" id="actor" ><br>
            <label for="length">length:</label>
            <input type="number" name="length" id="length" ><br>
            <label for="classify_id">classify id:</label>
            <input type="number" name="classify_id" id="classify_id" ><br>
            <input type="submit" value="add">
        </form>
    </div>
    <script >
        function openAddForm() {
            document.getElementById('myForm').style.display = "none";
            document.getElementById("addForm").style.display = "block";
        }
    </script>
    <h2>List films</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        <% for (var i=0; i<films.length; i++) { %>
            <div class="form-popup" id="myForm">
                <form action="/film/update" method="post" >
                    <input class="hidden" type="text" name="film_id" id="film_id" value="<%= films[i].film_id %>"><br>
                    <label for="title">title:</label>
                    <input type="text" name="title" id="title" value="<%= films[i].title %>"><br>
                    <label for="description">description:</label>
                    <input type="text" name="description" id="description" value="<%= films[i].description %>"><br>
                    <label for="release_date">release date:</label>
                    <input type="date" name="release_date" id="release_date" value="<%= films[i].release_date %>"><br>
                    <label for="language_id">language id:</label>
                    <input type="number" name="language_id" id="language_id" value="<%= films[i].language_id %>"><br>
                    <label for="director">director:</label>
                    <input type="text" name="director" id="director" value="<%= films[i].director %>"><br>
                    <label for="actor">actor:</label>
                    <input type="text" name="actor" id="actor" value="<%= films[i].actor %>"><br>
                    <label for="length">length:</label>
                    <input type="number" name="length" id="length" value="<%= films[i].length %>"><br>
                    <label for="classify_id">classify id:</label>
                    <input type="number" name="classify_id" id="classify_id" value="<%= films[i].classify_id %>"><br>
                    <input type="submit" value="update">
                </form>
            </div>
        <tr>
            <td><%= films[i].film_id %></td>
            <td><%= films[i].title %></td>
            <td>
                <div class="edit" id="editdb">
                    <button class="edit" onclick="openForm()">Edit </button>
                </div>
                <form action="/film/delete/<%= films[i].film_id %>" method="post">
                    <button>Delete</button>
                </form>
            </td>
        </tr>
        <% } %>
    </table>
<script>
    function openForm() {
        document.getElementById("addForm").style.display = "none";
        document.getElementById('myForm').style.display = "block";
    }
</script>
</body>
</html>